# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Repository-specific files
*.log
*_log.txt
*_out.txt
*_parrot.gds
*.cir
*.spef
*.citi
*.ts
*.lis
*.st[0-9]*
Thumbs.db
examples/WEDGE100_REV01.gds
examples/WEDGE100_REV02.gds
confidential/
